name: BRICS Auto Trader Bot

on:
  workflow_dispatch:   # اجرای دستی
  schedule:
    - cron: "*/5 * * * *"   # هر 5 دقیقه یک بار (برای تست)

jobs:
  trade:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run BRICS Bot
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          RPC_URL: ${{ secrets.RPC_URL }}
          MAIN_WALLET: "0x67594e1d30cec8a5f906c8278a1bc694641486cf"
          BOT_WALLET: "0xba5aee794d7ea8ed6d256fd12d3c5c9b77805289"
          TOKEN_CONTRACT: "0xAF2009350F6ECBE22c23A505a590239c7aaA3037"
        run: node bot.js
